
/* text style */

body {
    background-color: #262823;
}

h1 {
    color: #d8d849
}

h2 {
    color: #c2c529;
}

h3 {
    color: #c2c529;
}

p {
    color: #5ba33e;
}

li {
    color: #5ba33e;
}

/* img style */

img.rcr {
    border-radius: 30px;
    float: right;
    display: block;  
}

/* nav style */

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5ba33e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c2c529;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #d8d849;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }